#content {
  width: 71.875%; /* 650/960 */
  max-width: 960px;
  text-align: left;
  margin: 0px auto; /*auto centers the container */
  padding: 3.84615384615385%; /* 25/650 */
  text-align: center;
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */
.columns {
  -moz-column-width: 11.5em; /* Firefox */
  -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
  column-width: 200px;
}
/*remove standard list and bullet formatting from ul*/
.columns ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child {
  margin-top: 0px;
}
.columns ul li {
  margin-top: 0px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.columns ul li p {
  margin-left: 5px;
}
