.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.contact-container h1 {
  font-size: 2.5rem;
}
.contact-container a {
  font-size: 1.5rem;
  color: black;
  margin-top: 20px;
  cursor: pointer;
}
