h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

button {
  border: none;
  padding: 10px;
  background-color: black;
  color: white;
  transition: 200ms;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  width: 200px;
  flex: 1;
}

button:hover {
  transition: 200ms;
  background-color: rgb(70, 70, 70);
}

@media only screen and (max-width: 900px) {
  body {
    font-family: Montserrat;
    padding: 15px;
  }
  .about-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-jumbo h3 {
    font-weight: bold;
  }
  .about-jumbo h1 {
    max-width: 90vw;
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }
  .main-button {
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
    transition: 200ms;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
  }

  .main-button:focus {
    background-color: gray;
    transition: 200ms;
  }
  .work-title {
    font-size: 2rem;
    text-align: center;
  }
}
@media only screen and (min-width: 901px) {
  body {
    font-family: Montserrat;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .about-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }
  .about-jumbo h3 {
    font-weight: bold;
  }
  .about-jumbo h1 {
    max-width: 50vw;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
  }
  .main-button {
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    transition: 200ms;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
  }
  .main-button:hover {
    transition: 200ms;
    background-color: rgb(70, 70, 70);
  }
  .main-button:focus {
    background-color: gray;
    transition: 200ms;
  }
  .work-title {
    font-size: 2rem;
    text-align: center;
  }
}
